################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea/.idea.ClienteScore.MAG/.idea
/.vs/ClienteScore.MAG/DesignTimeBuild
/.vs/ClienteScore.MAG/v16/TestStore/0
