################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ClienteScore.MAG/DesignTimeBuild
/.vs/ClienteScore.MAG/v16/TestStore/0
